/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
--header-height: 3.5rem;

/*========== Colores ==========*/
--back-ground-color-main:#f9f5e0;
--h1-main-title: #8acdd7;
--color-btn-main:#ff90bc;
--color-btn-both:#91d0d8;
--color-font-mamarrachitas:#e175a1;
--color-font-mamarrachitos:#91d0d8;
--color-table:#8acdd7;
--color-font-table:#e175a1;

/*========== Font y Tipografia ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
}

/*-----Home-----*/

/* Estilos base */
.home {
  background-color: var(--back-ground-color-main);
  display: flex;
  box-shadow: 4px 4px 4.5px #f5ccdd;
}

.home__conteiner {
  min-height: calc(100vh - 3.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem; /* Añade padding para mejor visualización en móviles */
}

.home__data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.home__content {
  flex: 1;
}

.home__title {
  font-size: 3.8rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.img__home {
  max-width: 20rem;
  border-radius: 50%;
  box-shadow: 2px 2px 4.5px var(--color-font-mamarrachitos);
  margin-left: 15rem;
}

.button {
  display: inline-block;
  background-color: var(--color-btn-main);
  color: var(--back-ground-color-main);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
  border-radius: 5px;
  width: auto;
  margin-left: 2rem; 
}

.button:hover {
  background-color: var(--color-font-mamarrachitas);
}

/* Media Queries para Responsive Design */

@media (max-width: 1200px) {
  .img__home {
      margin-left: 25rem; 
  }
  .home__title{
      font-size: 3rem; 
  }
  
}

@media (max-width: 992px) { 
  .img__home {
      margin-left: 5rem; 
      max-width: 18rem; 
  }
  .home__title{
      font-size: 2.5rem; 
  }
}

@media (max-width: 768px) { 
  .home__data {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .img__home {
      order: 1;
      margin-top: 2rem;
      margin-left: 0; /* Elimina el margen en móviles */
      max-width: 15rem; /* Tamaño de imagen para móviles */
  }
  .button {
      margin-left: 0; /* Elimina el margen en móviles */
  }
  .home__title{
      font-size: 2rem; /* Ajusta el tamaño del titulo */
  }
}

@media (max-width: 576px) { /* Ejemplo: Móviles pequeños */
  .home__title {
      font-size: 1.8rem; /* Ajusta el tamaño del titulo para moviles pequeños */
  }
}
/*-----Colección-----*/
.collection__container__main{
    display: flex;
    justify-content: space-around; 
    margin: 2rem 2rem ;
    flex-wrap: wrap;
}
.collection__container{
    row-gap: 2rem;
    height: 15rem ;
    
}

.collection__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--color-font-mamarrachitos);
    transition: .3s;
    box-shadow: 4px 4px 4.5px #62b7c4;
    border-radius: 5px;
    margin-top: 3.5rem;
    
}

.collection__box:hover{
    transform: translateY(-.5rem);
}

.collection__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 1.5rem;

}

.collection__img__2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.collection__title{
    font-size: larger;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
}

.collection__subtitle{
    font-size: large;
    color: var(--back-ground-color-main);
}

.collection__view{
    font-size: medium;
    color: var(--back-ground-color-main);
}

.collection__view:hover{
    text-decoration: underline;
}

/*----------TABLE-----------*/
.table{
    background-color: var(--back-ground-color-main);
    
}

.title__table{
    font-size: 2.7rem;
    color: var(--color-table);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}


.table__mamarrachitos{
    width: 70%;
    min-height: 18rem ;
    vertical-align: center;
    padding: .5 rem ;
    text-align: center;
    border: 3px solid var(--color-table);
    border-collapse: collapse; 
    margin: 0 auto;
}

.description__measures{
    color: var(--color-table);
    font-weight: bold;
    padding: 3rem;
    text-align: center;
}